.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
  --color-fill-social-link: #afb1b8;
  --color-logo-first-color: #2196f3;
  --color-logo-second-color: #000;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Roboto", "sans-serif";
  color: #757575;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__offer {
  padding-top: 0;
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-title);
  padding-bottom: 30px;
}
.section--team-background {
  background: #f5f4fa;
}
.section--padding-top {
  padding-top: 0;
}
.section__offer {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__offer {
    display: block;
    overflow: visible;
  }
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-title);
    padding-bottom: 50px;
  }
  .section--padding-top {
    padding-top: 25px;
  }
}
/*
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__offer {
    padding-top: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-title);
    padding-bottom: 50px;
  }


}
*/
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: calc(100vw - 30px);
  max-width: 450px;
  max-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.modal__head {
  max-width: 370px;
  margin: 40px auto 12px auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.modal__close-btn {
  position: absolute;
  background-color: #fff;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__icon {
  fill: var(--color-logo-second-color);
  position: absolute;
  top: 14px;
  left: 14px;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
  .modal__head {
    max-width: 448px;
  }
}
/*.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;

  &__head {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
  }

  &__close-btn {
    position: absolute;
    background-color: #fff;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }

  &__icon {
    fill: var(--color-logo-second-color);
    position: absolute;
    top: 14px;
    left: 14px;
    transform: translate(-50%, -50%);
  }
}
*/
.advantages {
  list-style-type: none;
}
.advantages__item--space-between:not(:last-child) {
  margin-bottom: 30px;
}
.advantages__thumbnail {
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.advantages__thumbnail--margin-bottom {
  margin-bottom: 30px;
}
.advantages__icon {
  width: 70px;
  height: 70px;
}
.advantages__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000;
}
.advantages__title--margin-bottom {
  margin-bottom: 10px;
}
.advantages__text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .advantages__item {
    flex-basis: calc(50% - 15px);
  }
  .advantages__item--space-between:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-width: 1200px;
  }
  .advantages__item {
    max-width: 270px;
    height: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: #757575;
    text-align: left;
  }
  .advantages__thumbnail {
    padding-left: 100px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
  .advantages__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-logo-second-color);
  }
}
/*.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 251px;

  &__item {
    width: 270px;
    height: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: #757575;
    text-align: left;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
    list-style-type: none;

    &:first-child {
      margin-left: 0;
    }
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-logo-second-color);
  }
}
*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(100%);
}

.slogan {
  display: flex;
  min-height: 400px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/banner480x400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slogan__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan__title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 365px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-slogan);
  margin: 0 auto 30px;
}
.slogan__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  /*desktop*/
  .slogan {
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/banner1600x600.jpg);
    background-size: 1600px;
  }
  .slogan__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .slogan {
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/banner768x400.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /*mobile*/
  .slogan {
    padding-top: 60px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .slogan {
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/banner480x400@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .slogan {
    min-height: 400px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/banner768x400@2x.jpg");
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .slogan {
    min-height: 600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/banner1600x600@2x.jpg");
    background-size: cover;
  }
}
.button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-variable);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 0;
  margin-left: 8px;
  color: #fff;
  cursor: pointer;
}
.button__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--color-slogan);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50vw - 30px);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--color-fill-social-link);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:active {
  fill: var(--color-variable);
  border-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .clients {
    justify-content: space-evenly;
  }
  .clients__link {
    width: calc(33vw - 30px);
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .clients {
    flex-wrap: nowrap;
  }
  .clients__link {
    width: 170px;
  }
}
/*.clients {
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__link {
    width: 170px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--color-fill-social-link);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active {
      fill: var(--color-variable);
      border-color: #2196f3;
    }
  }
}*/
.acception {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}
.acception__link {
  display: inline-flex;
  text-decoration: underline;
  color: #2196f3;
}
.acception__input {
  display: inline-flex;
  width: 16px;
  height: 15px;
}
.acception__input:checked + .checkbox::before {
  background-color: #2196f3;
  background-image: url(../image/tick.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: #2196f3;
}
.acception__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}
.acception__submit--button {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-slogan);
  background: var(--color-variable);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.acception__submit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  /*desktop*/
  .acception__link {
    font-size: 14px;
    line-height: 24px;
    margin-top: -2px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .acception__link--span {
    font-size: 14px;
    line-height: 24px;
    margin-top: -1px;
  }
}
/*.acception {
  margin-top: 18px;

  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: #2196f3;
  }

  &__input {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    &:checked + .checkbox::before {
      background-color: #2196f3;
      background-image: url(../image/tick.svg);
      background-position: center;
      background-repeat: no-repeat;
      border: #2196f3;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    &--button {
      margin-left: 124px;
      margin-top: 30px;
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: var(--color-slogan);
      background: var(--color-variable);
      border-radius: 4px;
      cursor: pointer;
      border: 0;
      padding: 0;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: box-shadow;
    }

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
*/
.checkbox {
  display: inline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  /*desktop*/
  .checkbox {
    display: flex;
    margin-left: 15px;
  }
  .checkbox--text {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
    margin-top: -3px;
    font-size: 14px;
    line-height: 24px;
  }
}
/*.checkbox {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 14px;

  &--text {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 2px;
  }
}
*/
.contact {
  width: calc(100vw - 30px);
}
.contact__logo {
  text-align: center;
}
.contact__address {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 8px;
  color: var(--color-adress);
  text-decoration: none;
  font-style: normal;
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
}
.contact-footer__item {
  padding-bottom: 8px;
}
.contact-footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.contact-footer__link:hover, .contact-footer__link:active {
  color: var(--color-variable);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .contact {
    width: calc(50vw - 30px);
  }
}
@media screen and (min-width: 1200px) {
  /*desktpo*/
  .contact {
    width: 246px;
  }
  .contact__logo {
    text-align: left;
  }
  .contact__address {
    text-align: left;
  }
  .contact-footer__item {
    text-align: left;
  }
}
/*.contact {
  &__logo {
    text-align: left;
  }
  &__address {
    padding-top: 20px;
    color: var(--color-adress);
    text-decoration: none;
    font-style: normal;
    padding-bottom: 9px;
  }
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;

  &__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    text-align: left;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;

    &:hover,
    &:active {
      color: var(--color-variable);
    }
  }
}
*/
.modal-form {
  position: relative;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}
.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
.modal-form__label:focus-within {
  fill: var(--color-variable);
}
.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal-form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill;
}
.modal-form__input:focus-within {
  border-color: var(--color-variable);
}
.modal-form__comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 16px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
.modal-form__comments:focus-within {
  border-color: var(--color-variable);
}

.pushbutton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.pushbutton__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-top: 15px;
}
.pushbutton__button--style {
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pushbutton__button:hover, .pushbutton__button:focus {
  background: var(--color-variable);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.pushbutton--start {
  padding-right: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* mobile */
  .pushbutton {
    padding-top: 105px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .pushbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .pushbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    padding-top: 94px;
  }
  .pushbutton__button {
    margin-top: 0;
  }
}
/*.pushbutton {
  list-style: none;
  padding-top: 94px;
  display: flex;
  justify-content: center;

  &__button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    &--style {
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      padding: 6px 22px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      background: var(--color-variable);
      color: #fff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &--start {
    padding-right: 8px;
  }
}
*/
.contact-list {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  align-items: center;
  color: #757575;
}
.contact-list__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.contact-list__link {
  color: #757575;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color;
}
.contact-list__link--right {
  margin-right: 30px;
}
.contact-list__link:hover {
  fill: currentColor;
  color: #2196f3;
}
.contact-list .contact-list__icon {
  fill: currentColor;
}
.contact-list .contact-list__icon--envelope {
  margin-right: 7px;
  margin-bottom: -1px;
}
.contact-list .contact-list__icon--smartphone {
  margin-right: 7px;
  margin-bottom: -3px;
}

@media screen and (min-width: 1200px) {
  /*desktop*/
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-list__item {
    margin-bottom: 10px;
  }
  .contact-list__mr {
    margin-left: 0;
    padding-left: 2px;
  }
  .contact-list__link--right {
    margin-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /*mobile*/
  .contact-list {
    display: none;
    overflow: hidden;
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.logo__link {
  text-decoration: none;
}
.logo__first--color {
  color: var(--color-logo-first-color);
}
.logo__second--color {
  color: var(--color-logo-second-color);
}
.logo__another--color {
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /*mobole*/
}
.nav {
  display: flex;
  list-style: none;
}
.nav__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  color: #212121;
  margin: 0 20px;
}
.nav__link {
  color: #000;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid var(--color-variable);
  border-radius: 2px;
  top: 31px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-variable);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: none;
    overflow: hidden;
  }
}
.newsletter {
  text-align: center;
}
.newsletter__h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-slogan);
  text-align: center;
  margin-top: 14px;
  margin-bottom: 20px;
}
.newsletter__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newsletter-box {
  display: flex;
  justify-content: center;
  align-content: center;
}
.newsletter-box__input {
  width: calc(100vw - 30px);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-background);
  padding-left: 16px;
  color: #fff;
  outline: none;
}

.button {
  width: 200px;
  height: 50px;
  background: var(--color-variable);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 0;
  margin-left: 8px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}
.button__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .newsletter__h {
    margin-top: 30px;
  }
  .newsletter-box__input {
    width: calc(100vw - 30px);
  }
}
@media screen and (min-width: 1200px) {
  /* desktop */
  .newsletter {
    text-align: left;
    margin-left: auto;
    width: 570px;
  }
  .newsletter__h {
    text-align: left;
  }
  .newsletter-box {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-top: -20px;
  }
  .newsletter-box__input {
    width: 358px;
    height: 50px;
  }
}
/*.newsletter {
  text-align: left;
  margin-left: auto;
  width: 570px;

  &__h {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-slogan);
    text-align: left;
    margin-top: -45px;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.newsletter-box {
  display: inline-flex;
  justify-content: center;
  align-content: center;

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--color-background);
    padding-left: 16px;
    color: #fff;
    outline: none;
    margin-top: 20px;
  }
}

.button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-variable);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 0;
  margin-left: 8px;
  color: #fff;
  cursor: pointer;

  &__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 24px;
  }
}
*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  padding: 49px 45px 49px 24px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.portfolio__item {
  position: relative;
  width: calc(100vw - 30px);
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .overlay {
  opacity: 0.9;
  transform: translateY(0);
}
.portfolio__item:hover, .portfolio__item:active, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link {
  text-decoration: none;
}
.portfolio__description {
  display: block;
  position: relative;
  z-index: 1;
  background-color: #fff;
  margin-top: 4px;
}
.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  text-align: left;
  padding-left: 24px;
  margin: 0;
  padding: 20px 24px 4px 24px;
}
.portfolio__type {
  line-height: 1.875em;
  letter-spacing: 0.03em;
  padding: 0px 24px 20px 24px;
  text-align: left;
  color: var(--color-text);
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .portfolio {
    justify-content: flex-start;
    gap: 30px;
  }
  .portfolio__item {
    width: calc(50vw - 30px);
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .portfolio {
    gap: 30px;
  }
  .portfolio__item {
    width: 370px;
    margin: 0;
  }
}
/*.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;

  &__item {
    position: relative;
    width: 370px;
    height: 404px;
    list-style-type: none;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    z-index: 1001;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay {
      opacity: 0.9;
      transform: translateY(0);
    }
  }

  &__link {
    text-decoration: none;
  }

  &__description {
    display: block;
    position: relative;
    z-index: 1002;
    background-color: #fff;
    margin-top: 4px;
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-title);
    text-align: start;
    padding-left: 24px;
    margin: 0;
    padding: 20px 24px 4px 24px;
    margin-top: -9px;
  }

  &__type {
    line-height: 1.875em;
    letter-spacing: 0.06em;
    padding: 0px 24px 20px 24px;
    text-align: start;
    color: var(--color-text);
    margin: 0;
  }
}
*/
.priority {
  display: flex;
  justify-content: center;
}
.priority__item {
  width: 370px;
  height: 294px;
  margin-left: 15px;
  margin-right: 15px;
  list-style: none;
  position: relative;
}
.priority__item:first-child {
  margin-left: 0;
}
.priority__item:last-child {
  margin-right: 0;
}
.priority__description {
  width: 370px;
  height: 70px;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join {
  margin-top: 60px;
  margin-bottom: 46px;
}
.join__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .join {
    width: calc(50vw - 30px);
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .join {
    width: 206px;
    margin-left: 70px;
    margin-top: 14px;
  }
  .join__title {
    text-align: left;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* mobile */
}
/*.join {
  display: block;
  margin-left: 70px;
  margin-top: -14px;

  &__title {
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
  }
}*/
.team {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--color-slogan);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__description {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .team__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-slogan);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
  .team__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
/*
.team {
  list-style: none;
  display: inline-flex;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 428px;
    text-align: center;
    background-color: var(--color-slogan);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
*/
.social-group {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}
.social-group--team-change {
  width: 206px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.social-group--join-change {
  text-align: left;
  width: 206px;
  height: 80px;
}
.social-group__item {
  fill: var(--color-fill-social-link);
  background-color: #fff;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-group__item:hover {
  background-color: #2196f3;
  fill: var(--color-slogan);
}
.social-group__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-group__link--team-link-change {
  fill: var(--color-fill-social-link);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-group__link--team-link-change:hover, .social-group__link--team-link-change:active {
  background-color: #2196f3;
  fill: var(--color-slogan);
}
.social-group__link--join-link-change {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-slogan);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-group__link--join-link-change:hover, .social-group__link--join-link-change:active {
  background-color: var(--color-variable);
}
.social-group__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  /*desktop*/
  .social-group {
    text-align: left;
    width: 206px;
    list-style: none;
    justify-content: space-between;
  }
  .social-group__item {
    fill: var(--color-fill-social-link);
    background-color: #fff;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-group__item:hover {
    background-color: #2196f3;
    fill: var(--color-slogan);
  }
  .social-group__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .social-group__link--team-link-change {
    fill: var(--color-fill-social-link);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-group__link--team-link-change:hover, .social-group__link--team-link-change:active {
    background-color: #2196f3;
    fill: var(--color-slogan);
  }
  .social-group__link--join-link-change {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-slogan);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-group__link--join-link-change:hover, .social-group__link--join-link-change:active {
    background-color: var(--color-variable);
  }
  .social-group__icon {
    fill: #ffffff;
  }
}
/*.social-group {
  list-style: none;
  display: flex;
  justify-content: space-between;

  &--team-change {
    width: 206px;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 30px;
  }

  &--join-change {
    text-align: left;
    width: 206px;
    height: 80px;
  }

  &__item {
    fill: var(--color-fill-social-link);
    background-color: #fff;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #2196f3;
      fill: var(--color-slogan);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &--team-link-change {
      fill: var(--color-fill-social-link);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:active {
        background-color: #2196f3;
        fill: var(--color-slogan);
      }
    }

    &--join-link-change {
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--color-slogan);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:active {
        background-color: var(--color-variable);
      }
    }
  }
  &__icon {
    fill: #ffffff;
  }
}
*/
.menu-toggle {
  margin-right: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-toggle__icon {
  fill: #212121;
}
.menu-toggle__icon:hover, .menu-toggle__icon:active, .menu-toggle__icon:focus {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.mobile-nav__item {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}
.mobile-nav__link {
  color: #212121;
  text-decoration: none;
}
.mobile-nav__link--active {
  color: #2196f3;
}

.mobile-contact {
  text-align: left;
  list-style: none;
}
.mobile-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  padding-top: 272px;
  padding-bottom: 32px;
}
.mobile-contact__link-tel {
  text-decoration: none;
  color: #2196f3;
}
.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.mobile-contact__link-mail {
  text-decoration: none;
  color: #757575;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 64px;
}
.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.mobile-social__link {
  text-decoration: none;
  color: #2196f3;
}
.mobile-social__line {
  color: rgba(33, 33, 33, 0.2);
  padding-left: 3px;
  padding-right: 5px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-page__flexible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .footer-page__flexible {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  /*desktop*/
  .footer-page__flexible {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/*
.footer-page {
  height: 252px;
  background: var(--color-background);
  padding: 60px 0;

  &__flexible {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}*/
.page-header {
  border-bottom: 1px solid #ececec;
  background: #ececec;
  height: 60px;
  display: flex;
  z-index: 999;
}
.page-header__container {
  display: flex;
  align-items: center;
}
.page-header__logo {
  margin-right: 73px;
}

@media screen and (min-width: 1200px) {
  /*desktop*/
  .page-header {
    height: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*tablet*/
  .page-header {
    height: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /*mobile*/
  .page-header {
    position: fixed;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */