.join {
  display: block;
  margin-left: 70px;
  margin-top: -14px;

  &__title {
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
  }
}
