.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;

  &__item {
    position: relative;
    width: 370px;
    height: 404px;
    list-style-type: none;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    z-index: 1001;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay {
      opacity: 0.9;
      transform: translateY(0);
    }
  }

  &__link {
    text-decoration: none;
  }

  &__description {
    display: block;
    position: relative;
    z-index: 1002;
    background-color: #fff;
    margin-top: 4px;
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-title);
    text-align: start;
    padding-left: 24px;
    margin: 0;
    padding: 20px 24px 4px 24px;
    margin-top: -9px;
  }

  &__type {
    line-height: 1.875em;
    letter-spacing: 0.06em;
    padding: 0px 24px 20px 24px;
    text-align: start;
    color: var(--color-text);
    margin: 0;
  }
}
