.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__offer {
    padding-top: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-title);
    padding-bottom: 50px;
  }

  &--team-background {
    background: #f5f4fa;
  }
}
