:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
  --color-fill-social-link: #afb1b8;
  --color-logo-first-color: #2196f3;
  --color-logo-second-color: #000;
}
